@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 134 61% 41%; /* Green */
    --primary-foreground: 210 40% 98%;

    --secondary: 134 61% 90%; /* Light Green */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 134 61% 94%; /* Muted Green */
    --muted-foreground: 134 41% 30%;

    --accent: 134 61% 94%; /* Accent Green */
    --accent-foreground: 134 41% 30%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 134 61% 85%; /* Border Green */
    --input: 134 61% 85%; /* Input Green */
    --ring: 134 61% 41%; /* Green Ring */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 134 41% 15%; /* Dark Card */
    --card-foreground: 210 40% 98%;

    --popover: 134 41% 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 134 41% 40%; /* Dark Green */
    --primary-foreground: 210 40% 98%;

    --secondary: 134 30% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 134 30% 20%;
    --muted-foreground: 210 20% 65%;

    --accent: 134 30% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 134 41% 25%; /* Dark Border Green */
    --input: 134 41% 25%;
    --ring: 134 61% 41%; /* Dark Green Ring */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
